# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
staticfiles/

# Logs
logs/
*.log

# Environment & Binary
.env
.env.local
.env.*.local
cloudflared.exe

# Legacy
node_modules/
dist/
dist-ssr/
.vercel/

# OS / IDE
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
